<h1>Eat-Da-Burger!</h1>



<div class="addBurger"> 

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
     <button type="submit"><i class="fa fa-plus-circle"></i></button>
    
  </div>


</form>

</div>

<div class="container">
<div class="opacity-devour">

<h2>Burgers to Devour</h2>

<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ol>
</div>

<div class="opacity-devoured">
<h2>Burger Devoured</h2>

<div class= "list">
<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-devouredBlock devoured=true}}
    {{/if}}
  {{/each}}
</ol>
</div>
</div>

</div>
