html{
  background: url("../img/cuteBurgerSmall.png") no-repeat center top fixed;     
  /* background-size: cover; */
  font-family: 'Roboto Slab', serif;

}

body {
  background-color: rgb(247, 168, 70);
}

h1,h2{
  text-align: center;
}

.container{
  display: block;
  float: right;
}

.opacity-devour{
  margin: 50px;
  background: rgb(255,201,14, 0.4);
  border: 1px solid black;
}

.opacity-devoured{
  margin: 50px;
  color: rgba(61, 50, 7, 0.4);
  background: rgb(219, 208, 169);
  border: 1px solid black; 
}

.addBurger{
  margin: 50px;
  background: rgb(255,201,14, 0.4);
  border: 1px solid black;
  /* opacity: 0.6; */
  float: left;
  width: 32%;
}

.form-group{
  text-align: center;
}



li {
  padding: 5px;
  margin: 15px;
  width: auto;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
 
}

.form-group {
  margin: 15px;
}

button{
  background-color: rgb(190, 211, 78);
    border-radius: 10%;
    border: 1px solid rgb(142, 187, 73);
    font-family: 'Roboto Slab', serif;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: rgb(190, 211, 78);
  }

.addBurger{
    position: relative;
    margin: 45px;
    font-size: 12px;
  } 
  
  .opacity-devour, .opacity-devoured{
    position: relative;
    display: block;
    top: 250px;
    left: -550px;
    margin: 25px;
    font-size: 12px;
  }
  
  /* .container{
    display: block;
    
  } */
    
  } 
